<main class="w-full max-w-md mx-auto p-6">
  <div class="mt-7 bg-white border border-gray-200 rounded-xl shadow-sm">
    <div class="p-4 sm:p-7">
      <div class="text-center">
        <h1 class="block text-2xl font-bold text-gray-800">Sign up</h1>
        <p class="mt-2 text-sm text-gray-600">
          Already have an account?
          <a class="text-blue-600 decoration-2 hover:underline font-medium" href="/signin">
            Sign in here
          </a>
        </p>
      </div>

      <div class="mt-5">
        <!-- Form -->
        <%= form_with(model: @user, url: signup_path, class: "flex flex-col space-y-3 lg:space-y-6") do |f| %>
          <div class="grid gap-y-4">
            <% flash.each do |type, msg| %>
              <div class="text-center w-[70%] mx-auto mt-2 mb-6">
                <%= content_tag :div, msg, class: build_alert_classes(type) %>
              </div>
            <% end %>

            <!-- Form Group -->
            <div>
              <label for="first_name" class="block text-sm mb-2">First Name</label>
              <div class="relative">
                <%= f.text_field :first_name, autofocus: false, autocomplete: "first_name", class: "py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400" %>
              </div>
            </div>
            <!-- End Form Group -->

            <!-- Form Group -->
            <div>
              <label for="last_name" class="block text-sm mb-2 dark:text-white">Last Name</label>
              <div class="relative">
                <%= f.text_field :last_name, autofocus: false, autocomplete: "last_name", class: "py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400" %>
              </div>
            </div>
            <!-- End Form Group -->

            <!-- Form Group -->
            <div>
              <label for="email" class="block text-sm mb-2 dark:text-white">Email</label>
              <div class="relative">
                <%= f.email_field :email, autofocus: false, autocomplete: "email", class: "py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400" %>
              </div>
            </div>
            <!-- End Form Group -->

            <!-- Form Group -->
            <div>
              <label for="phone_number" class="block text-sm mb-2 dark:text-white">Phone Number</label>
              <div class="relative">
                <%= f.text_field :phone_number, autofocus: false, autocomplete: "phone_number", class: "py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400" %>
              </div>
            </div>
            <!-- End Form Group -->

            <!-- Form Group -->
            <div>
              <label for="password" class="block text-sm mb-2 dark:text-white">Password</label>
              <div class="relative">
                <%= f.password_field :password, id: "password", autocomplete: "new-password", class: "py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400" %>
              </div>
            </div>
            <!-- End Form Group -->

            <!-- Form Group -->
            <div>
              <label for="confirm-password" class="block text-sm mb-2 dark:text-white">Confirm Password</label>
              <div class="relative">
                <%= f.password_field :password_confirmation, id: "confirm-password", autocomplete: "new-password", class: "py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400" %>
                </div>
              </div>
            </div>
            <!-- End Form Group -->

            <button type="submit" class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800 mt-10">Sign up</button>
          </div>
        <% end %>
        <!-- End Form -->
      </div>
    </div>
  </div>
</main>
