<main class="w-5/6 md:w-3/4 lg:w-1/2 mx-auto p-6">
  <div class="mt-7 bg-white border border-gray-200 rounded-xl shadow-sm">
    <div class="p-4 sm:p-7">
      <div class="text-center">
        <h1 class="block text-2xl font-bold text-gray-800">Sign up</h1>
        <p class="mt-2 text-sm text-gray-600">
          Already have an account?
          <a class="text-blue-600 decoration-2 hover:underline font-medium" href="/signin">
            Sign in here
          </a>
        </p>
      </div>

      <div class="mt-5">
        <!-- Form -->
        <%= form_with(model: @user, url: signup_path, class: "flex flex-col space-y-3 lg:space-y-6") do |f| %>
          <div class="grid gap-y-4">
            <% flash.each do |type, msg| %>
              <div class="text-center w-[70%] mx-auto mt-2 mb-6">
                <%= content_tag :div, msg, class: build_alert_classes(type) %>
              </div>
            <% end %>

            <div class="grid md:grid-cols-2 gap-2">
              <!-- Form Group -->
              <div>
                <div class="relative">
                  <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "py-3 px-4 block w-full border-2 border-gray-200 rounded-md text-sm outline-none focus:border-gray-500 focus:ring-gray-500", placeholder: "First Name" %>
                </div>
              </div>
              <!-- End Form Group -->
              <!-- Form Group -->
              <div>
                <div class="relative">
                  <%= f.text_field :last_name, class: "py-3 px-4 block w-full border-2 border-gray-200 rounded-md text-sm outline-none focus:border-gray-500 focus:ring-gray-500", placeholder: "Last Name" %>
                </div>
              </div>
              <!-- End Form Group -->
            </div>

            <div class="grid md:grid-cols-2 gap-2">
              <!-- Form Group -->
              <div>
                <div class="relative">
                  <%= f.email_field :email, class: "py-3 px-4 block w-full border-2 border-gray-200 rounded-md text-sm outline-none focus:border-gray-500 focus:ring-gray-500", placeholder: "Email Address" %>
                </div>
              </div>
              <!-- End Form Group -->

              <!-- Form Group -->
              <div>
                <div class="relative">
                  <%= f.text_field :phone_number, class: "py-3 px-4 block w-full border-2 border-gray-200 rounded-md text-sm outline-none focus:border-gray-500 focus:ring-gray-500", placeholder: "Phone Number" %>
                </div>
              </div>
              <!-- End Form Group -->
            </div>

            <!-- Form Group -->
            <div>
              <div class="relative">
                <%= f.password_field :password, id: "password", autocomplete: "new-password", class: "py-3 px-4 block w-full border-2 border-gray-200 rounded-md text-sm outline-none focus:border-gray-500 focus:ring-gray-500", placeholder: "Password" %>
              </div>
            </div>
            <!-- End Form Group -->

            <!-- Form Group -->
            <div>
              <div class="relative">
                <%= f.password_field :password_confirmation, id: "confirm-password", autocomplete: "new-password", class: "py-3 px-4 block w-full border-2 border-gray-200 rounded-md text-sm outline-none focus:border-gray-500 focus:ring-gray-500", placeholder: "Confirm Password" %>
                </div>
              </div>
            </div>
            <!-- End Form Group -->

            <button type="submit" class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm mt-10">Sign up</button>
          </div>
        <% end %>
        <!-- End Form -->
      </div>
    </div>
  </div>
</main>
